html,
body {
	font-size: 62.5%;
}

.grey-jumbo {
	margin-top: -30px;
	border-radius: 0px !important;
	height: 500px;
	color: #fff;
	background-size: cover;
	background: #42a5f5;
}

hr.short {
	width: 100px;
	border-bottom: 2px solid #fff;
}

hr.below {
	width: 50px;
	border-bottom: 1px solid #fff;
}

.top {
	background: linear-gradient(120deg, #236798, #42a5f5);
	color: #fff;
	border-radius: 0px !important;
	height: 300px;
}

#info1,
#info3 {
	font-size: 2.4rem;
}

#info2 {
	font-size: 4.8rem;
}
